<h1>Log In</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
            
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.submit "Log In", class: "btn btn-primary" %>
            
            <p>Don't have an account? Create one <%= link_to 'Here', signup_path %>.</p>
        <% end %>    
    </div>
</div>
