<h1>Signup</h1>
<div class="full-screen">
    <div class="signup-form full-screen">
        <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages' %>
            
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form_control' %>
            
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form_control' %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form_control' %>
            
            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form_control' %>
            
            <%= f.submit "Create my account", class: "btn btn-primary" %>
            
            <p>Already have an account? Sign in <%= link_to 'here', login_path %></p>
        
        <% end %>
    </div>
</div>
