<div class="profile-header">
    <h1>Welcome <% if @user.name == "Bruce Wayne" %>Batman, I mean, Bruce.<% else %><%= @user.name %><% end %></h1>
</div>
<div class="workouts">
    <% if @user.workouts.any? %>
        <%= render 'layouts/workout' %>
    <% else %>
        Yo! You need to create a workout!
        <div class="workout-form"><%= render 'shared/workout_form' %></div>
    <% end %>
</div>