<%= form_for(@machine) do |f| %>

    <%= f.hidden_field :name, :value => "Calf Extension" %>
    
    <%= f.hidden_field :roundnumber, :value => 1 %>

    <%= f.number_field :weight %>
    
    <%= f.number_field :reps %>
    
    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
    
<% end %>