<%= form_for(@machine2) do |f| %>

    <%= f.hidden_field :name, :value => "Row/Rear Deltoid" %>
    
    <%= f.hidden_field :roundnumber, :value => 2 %>

    <%= f.number_field :weight %>
    
    <%= f.number_field :reps %>
    
    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
    
<% end %>