@import "bootstrap-sprockets";
@import "bootstrap";

@import "bootstrap-sprockets";
@import "bootstrap";

/* variables */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
}
@media (max-width: 767px) {
  body {
    padding-top: 130px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* navbar */

@media (max-width: 767px) {
  .navbar li {
    clear: both;
    text-align: center;
  }
}

/* forms */

.full-screen {
  height: 100%;
}

.signup-form {
  min-height: 100%;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* workout layout */

.workout_date {
  float: left;
}

.workout-form {
  float: right;
  padding-right: 35px;
}

.workout-form input {
  width: 12em;
}

.workout-data div {
  text-align: center;
}

.workout-data .row {
  padding-bottom: 10px;
}

.badge-primary {
  height: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 1.3em;
}

.workout-controller {
  overflow: auto;
}

.new_machine input {
  width: 48%;
}